.homepage {
  display: grid;
  grid-template-columns: 75% 25%;
  background-size: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
}












/* .photo {
  position: relative;
  margin-top: 50px;
  width: 500px;
  height: 300px;
  grid-column-start: 2;
  grid-column-end: 3;
  overflow: auto;
}

.photo-img {
  width: 50%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  transition: background 0.5s ease;
}

.photo:hover .overlay {
  display: block;
  background: rgba(0, 0, 0, .3);
}

.photobutton {
  position: absolute;
  width: 500px;
  left:0;
  top: 140px;
  text-align: center;
  opacity: 0;
  transition: opacity .35s ease;
}

.button {
  width: 200px;
  padding: 12px 48px;
  text-align: center;
  /* color: white; */
  /* border: solid 2px white;
  z-index: 1;
}

.photo:hover .photobutton {
  opacity: 1;
} */
