.App {
  /* position: absolute;
  display: grid;
  /* grid-template-columns: 30px 1fr 1fr 1fr 1fr 30px; */

  /* display: grid; */
   /* grid-template-rows: 200px 200px 200px;
   grid-template-columns: 200px 200px 200px; */
  /* grid-gap: 10px; */
  /* grid-auto-rows: minmax(50px, auto); */
  /* border: 5px solid blue; */
}

.Navbar {
  background-color: #f8f8f8;
  border-bottom: 1px solid #ececec;
  height: 30px;

  /* position: absolute;
  top: inherit;
  border: 2px solid red;
  display: grid; */
}



.MainContainer {
  grid-column: 2 / 5;
  grid-row: 2;


  display: grid;
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 10px;
}

.SmallContainer {
  grid-column-start: 5;
  /* grid-row: 3; */
}

.photo {
  position: relative;
  margin-top: 50px;
  width: 500px;
  height: 300px;
  grid-column-start: 2;
  grid-column-end: 3;
  overflow: auto;
}

.photo-img {
  width: 50%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  transition: background 0.5s ease;
}

.photo:hover .overlay {
  display: block;
  background: rgba(0, 0, 0, .3);
}

.photobutton {
  position: absolute;
  width: 500px;
  left:0;
  top: 140px;
  text-align: center;
  opacity: 0;
  transition: opacity .35s ease;
}

.button {
  width: 200px;
  padding: 12px 48px;
  text-align: center;
  /* color: white; */
  border: solid 2px white;
  z-index: 1;
}

.photo:hover .photobutton {
  opacity: 1;
}

.calendar {
  height: 200px;
}

.calendar-container {
  height: 200px;
  width: auto;
}



.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}








/* TOGGLE FOR LOGIN AND SIGN UP */

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
} 
